/* Comp3.css */
.comp3-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
  }
  
  .graph-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    height: fit-content;
  }
  
  .graph-card {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    height: fit-content;
  }
  
  .descriptions-container {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
  }
  